@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: Roboto Condensed;
	font-size: 24px;
}
p{
	text-align: justify;
}
figure{
	text-align:center;
	font-style:italic;
	font-size:16px;
}
blockquote {
	font-style: oblique;
	position: relative;
	margin:auto;
}
blockquote::before{
	content:open-quote;
	color:blueviolet;
	position:absolute;
}
ul{
	list-style-type:none;
}
a{
	color:gray;
}
	a:visited{
		color:lightblue;
	}
	a:hover{
		font-weight:800;
	}
