body {
	font-family: Roboto Condensed;
	font-size: 32px;
}

#header {
	display: flex;
	justify-content: space-between;
}

input[type=number] {
	font-size: 24px;
}

#switch-background {
	width: 32px;
	height: 32px;
	background-size: cover;
	/*background-image: url("img/moon.png");*/
}

.light {
	background: #D8D8D8;
	color: #323232;
}

	.light #switch-background {
		background-image: url("img/moon.png");
	}

.dark {
	background: #323232;
	color: #D8D8D8;
}

	.dark #switch-background {
		filter: brightness(0) invert(1);
		background-image: url("img/sun.png");
	}
