@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: Roboto Condensed;
	font-size: 32px;
	/*transition: background-color 0.3s ease;*/
}

	body.light-theme {
		background-color: #ffffff;
		color: #000000;
	}

	body.dark-theme {
		background-color: #121212;
		color: #ffffff;
	}

#header {
	display: flex;
	justify-content: space-between;
}

#switch-background {
	width: 32px;
	height: 32px;
	background-size: cover;
}

	#switch-background.body.dark-theme {
		filter:invert(1);
	}

#theme-change-delay{

}
